*{
    box-sizing: border-box;
    font-size: 30px;
    font-family: 'Saira Extra Condensed', sans-serif;
}

body{
    margin: 0;
    padding:0;
    background: url("https://wallpapercave.com/wp/viRjdLn.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#main {
    width: 800px;
    display: block;
    margin: 70px auto;
    color: white;
    background-color: rgba(255,0,0, 0.2);
    border-radius: 10px;
    border: 2px dashed red;
    text-align: center;
}

.score-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid white;
}

.levels {
    border: 1px solid white;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 60px;
    align-items: center;
    margin-bottom: 10px;
}

.level {
    margin-left: auto;
    border: 1px solid white;
    width: 15%;
    border-radius: 5px;
    background: white;
    color: black;
    cursor: pointer;
}

.categories {
    border: 1px solid white;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 60px;
    align-items: center;
}

#category {
    margin-left: auto;
}

#play-btn {
    border-radius: 15px;
    background: green;
    padding: 2px;
    width: 100px;
    margin: 30px auto;
    color: white;
}

#play-btn:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

#question{
    font-size: 60px;
}

.selected{
    background-color: blue;
    color: #ffffff;
}

#update-score{
    width: 150px;
    background: green;
    visibility: hidden;
    margin: 0 auto;
    display: block;
    color: #ffffff;
}

.next{
    margin: 0 auto;
    background: blue;
    width: 300px;
    margin-bottom: 10px;
}

.next:hover {
    cursor: pointer;
}

.game-over{
    display: block;
    margin: 70px auto;
    color: yellow;
    text-align: center;
}

#reset{
    background: red;
    visibility: hidden;
    width: 150px;
    display: block;
    margin: 30px auto;
    color: white;
}

#reset:hover{
    cursor: pointer;
}